// Desactivar configuraciones que traigan por defecto el css
*
    padding: 0px
    margin: 0px
    box-sizing: border-box

a
    text-decoration: none

//Configuración inicial de la página web
html, body, #app
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    overflow-x: hidden
    position: relative
    background-color: $color_oscuro_primario
    overflow: hidden

//Sobreescribir el css por defecto de los iconos de google
.material-symbols-outlined
    display: flex
    align-items: center
    justify-content: center
    font-size: $XS

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

#app
    display: grid
    grid-template-columns: 1fr 1000fr
    grid-template-rows: 1fr 1000fr
    grid-template-areas: "aside header" "aside main"

.main
    width: 100%
    display: flex
    flex-direction: column
    grid-area: main
    justify-self: center
    align-items: center
    overflow: auto
    margin-bottom: $L
    position: relative
    overflow-x: hidden
    scroll-behavior: smooth

    &__load
        display: flex
        flex-direction: row
        align-content: center
        justify-content: center

        &__button
            height: auto
            width: $XXXL
            text-align: center
            background-color: $color_oscuro_secundario
            font-family: $fuente_secundaria
            $font-size: $XS
            color: $color_placeholder
            text-align: center
            align-self: center
            padding: $XXS $XS
            border-radius: 4px
            border: 1px solid $color_oscuro_terciario
            animation: fade100 none 1.4s 

    @media (max-width: 650px)
        height: 100%
        
.container
    width: 100%
    max-width: 1650px
    padding: $XS $S

    @media (max-width: 650px)
        height: 100%
