.main

    &__form
        width: 100%
        display: flex
        flex-direction: row
        z-index: 1   
        gap: $S

        &__group
            width: 100%
            max-width: 1000px

            &__subgroup
                display: flex
                flex-direction: column
                gap: $XXS
                padding: $XS
                background-color: $color_oscuro_secundario
                border-radius: 0 0 4px 4px

        &__field
            height: 100%
            position: relative
            display: flex
            flex-direction: row
            background-color: $color_oscuro_terciario
            border-radius: 4px
            flex-grow: 1

            &--textarea
                flex-direction: column

            &--preview
                height: 100%
                display: flex
                flex-direction: column
                color: $color_claro
                font-family: $fuente_secundaria

            &__content
                padding: $XS                
                overflow: auto
                overflow-x: hidden

                & *
                    margin-bottom: $XXS

                & ol, ul
                    margin-left: $M

                & h1
                    font-family: $fuente_primaria

                & a
                    color: $color_claro
                    border-bottom: 1px solid $color_claro

                    &:hover
                        opacity: $opacidad

                & img
                    width: 85%
                    height: auto
                    display: table
                    margin: 0 auto
                    padding: $XS

            &__header
                display: flex
                flex-direction: row
                gap: $XXXS
                background-color: #272729
                color: $color_claro
                font-size: $XXS
                padding: 4px $XS
                font-family: $fuente_secundaria
                border-radius: 4px 4px 0 0
                opacity: 70%
                align-items: center
                justify-content: space-between

                &__nav
                    display: flex
                    flex-direction: row
                    gap: $XXXS

                    &__item
                        cursor: pointer
                        padding: $XXXS
                        border-radius: 4px

                        &--preview
                            visibility: hidden

                        &:hover
                            background-color: $color_oscuro_primario

            &__count
                color: $color_placeholder
                font-family: $fuente_secundaria
                font-size: $XXS
                align-self: center
                padding-right: $XXS

            &__input
                height: 100%
                width: 100%
                max-height: $L
                min-height: $M
                font-size: $XS
                font-family: $fuente_secundaria
                color: $color_claro
                padding-left: $XS
                border: none
                outline: none
                background-color: $color_oscuro_terciario
                border-radius: 4px

                &__warning
                    border-right: 4px solid $color_warning

            &__select
                height: 100%
                width: 100%
                max-height: $L
                min-height: $M
                font-size: $XS
                color: $color_claro
                font-family: $fuente_secundaria
                padding-left: $XS
                border: none
                outline: none
                background-color: $color_oscuro_terciario

                &__warning
                    border-right: 4px solid $color_warning

            &__textarea
                height: 100%
                width: 100%
                min-height: 350px
                font-family: $fuente_secundaria
                font-size: $XS
                color: $color_claro
                padding: 0 $XS
                padding-top: $XS
                border: none
                outline: none
                background-color: $color_oscuro_terciario
                resize: none
                border-radius: 4px

        &__info
            width: 100%
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between

            &__text
                font-family: $fuente_secundaria
                color: $color_warning
                font-size: $XS
                
            &__button
                width: 10%
                height: $M
                min-height: $M
                min-width: 75px
                background-color: $color_primario
                font-family: $fuente_primaria
                font-size: $XS
                color: $color_claro
                align-self: end
                border: none
                outline: none
                cursor: pointer
                border-radius: 4px

                &:hover
                    background-color: $color_primario-hover
                
                &__disabled
                    opacity: $opacidad
                    cursor: not-allowed

        &__nav
            height: $XL
            width: 100%
            max-width: 1000px
            display: flex
            flex-direction: row
            z-index: 1
            background-color: $color_oscuro_secundario
            border-radius: 4px 4px 0 0
            border-bottom: 1px solid $color_oscuro_terciario

            &__link
                width: 100%
                max-width: 200px
                display: flex
                flex-direction: row
                gap: $XXS
                color: $color_claro
                justify-content: center
                align-items: center
                font-family: $fuente_primaria
                font-size: $XS
                border-bottom: 2px solid $color_oscuro_secundario
                border-right: 1px solid $color_oscuro_terciario
                border-radius: none
                opacity: $opacidad

                &__active
                    border-bottom: 2px solid $color_claro
                    opacity: 1

                &__icon
                    font-size: $S

        &__option
            width: auto
            display: flex
            flex-direction: column    
            min-width: 350px    
            gap: $S    

            &__section
                width: 100%
                display: flex
                flex-direction: column
                gap: $XXXS
                padding-bottom: $XS
                border-bottom: 1px solid $color_oscuro_terciario
                position: relative

                &__title
                    color: $color_placeholder
                    font-size: $XS
                    font-family: $fuente_secundaria                    
                    padding: $XXXS 0

                &__result
                    height: $XL
                    color: $color_claro
                    font-size: $XS
                    font-family: $fuente_secundaria
                    display: flex
                    align-items: center

                &__icon
                    color: $color_claro
                    font-size: $XS
                    position: absolute
                    top: 0
                    right: 0
                    cursor: pointer
                    padding: $XXXS
                    border-radius: 50%
                    margin-right: $XXXS

                    &:hover                        
                        background-color: $color_oscuro_secundario
                
                &__score
                    height: $XL
                    width: 55%
    
        @media (max-width: 850px)
            flex-direction: column-reverse
            gap: $XXS

            .main__form__field__textarea
                min-height: 275px
