.main

    &__breadcrumb
        display: flex
        flex-direction: row
        color: $color_placeholder
        font-size: $XS
        font-family: $fuente_secundaria
        gap: $XXXS
        position: relative
        z-index: 1

        &__link
            color: $color_placeholder

            &:hover
                color: $color_primario

        &__title
            color: $color_claro

    &__section
        position: relative
        z-index: 1
        margin-top: $L

        &__title
            font-size: $S
            color: $color_claro
            font-family: $fuente_primaria
            border-bottom: 1px solid $color_oscuro_terciario
            padding-bottom: $XXXS

            &__text
                border-bottom: 3px solid $color_primario
                padding: 0 $XXS
                padding-bottom: $XXXS

        &__subtitle
            color: $color_claro
            font-size: $M
            font-family: $fuente_secundaria
            margin-top: $S

        &__description
            color: $color_claro
            font-size: $XS
            font-family: $fuente_secundaria
            margin: $S 0
            display: flex
            flex-direction: column
            gap: $XS

        &__article
            width: 32%
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 2fr
            grid-template-areas: "title title" "label info"
            padding: $S 0
            max-width: 400px

            &--videogame
                grid-template-columns: 1fr 2fr

            &__group
                display: flex
                flex-direction: row
                gap: $XS
                flex-wrap: wrap

            &__title
                grid-area: title
                color: $color_claro
                font-size: $XS
                font-family: $fuente_secundaria

            &__label
                grid-area: label
                display: flex
                flex-direction: column
                gap: $XXS

                &__text
                    color: $color_placeholder
                    font-size: $XS
                    font-family: $fuente_secundaria

            &__info
                grid-area: info
                display: flex
                flex-direction: column
                gap: $XXS

                &__text
                    color: $color_claro
                    font-size: $XS
                    font-family: $fuente_secundaria
                    display: flex
                    flex-direction: row
                    gap: $XXXS

                    &__icon
                        font-size: $XXS

    &__background
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
        min-height: 400px
        max-height: 750px
        z-index: 0

        &__img
            height: 100%
            width: 100%
            object-fit: cover
            object-position: top
            opacity: 5%
            pointer-events: none
