*::-webkit-scrollbar
    -webkit-appearance: none

*::-webkit-scrollbar:vertical
    width: $XXXS

*::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button
    display: none

*::-webkit-scrollbar-thumb
    background-color: $color_primario
    border-radius: 4px

*::-webkit-scrollbar-track
    border-radius: 4px
