.main::-webkit-scrollbar 
    -webkit-appearance: none

.main::-webkit-scrollbar:vertical 
    width: $XXXS
    
.main::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button 
    display: none

.main::-webkit-scrollbar-thumb 
    background-color: $color_primario

.main::-webkit-scrollbar-track 
    border-radius: 0
